---
import type { GetStaticPaths } from "astro"
import PostCard from "raon:components/posts/PostCard.astro"
import { getPosts } from "raon:content"
import { getLangPaths, useTranslations, type HasLang } from "raon:i18n"
import Base from "raon:layouts/Base.astro"

interface Props extends HasLang {}

export const getStaticPaths = (() => {
  return getLangPaths("posts", "/posts")
}) satisfies GetStaticPaths

const { lang } = Astro.props
const t = useTranslations(lang)

const posts = await getPosts({ lang })
---

<Base title={t("pages.posts.title")} description={t("pages.posts.description")}>
  <section class="flex flex-col gap-6">
    <div class="flex items-center gap-2 text-left">
      <h1 class="text-on-surface font-heading text-2xl font-bold">
        {t("pages.posts.allPosts.title")}
      </h1>
    </div>

    {
      posts.length > 0 ? (
        <div class="grid grid-cols-1 gap-6">
          {posts.map((post) => (
            <PostCard post={post} />
          ))}
        </div>
      ) : (
        <div class="island flex flex-col items-center justify-center gap-4 p-12 text-center">
          <p class="text-on-surface-variant">{t("pages.posts.allPosts.empty")}</p>
        </div>
      )
    }
  </section>
</Base>
